html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}


/* Banner */

.banner {
    overflow: hidden;
    position: relative;
    padding: 5%;
    text-align: center;
}

.banner-content {
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    padding: 10%;
}

.banner-subtext {
    font-size: xx-large;
    text-align: center;
    margin: 1em 0;
}

.banner-icon {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.banner-images {
    padding: 1em .5em 2em .5em;
    text-align: center;
}

.banner-images .banner-image {
    max-width: 100px;
    width: 100%;
    border-top: 7px solid grey;
    border-bottom: 7px solid grey;
    border-left: 5px solid grey;
    border-right: 5px solid grey;
    border-radius: 5%;
}

.image-button {
    width: 100%;
    max-width: 250px;
    display: inline-block;
}


/* Content */

.content {
    padding: 2em 0;
    text-align: center;
}


/* Footer */

.footer-logo {
    height: 2em;
    position: relative;
    top: 7px;
}

.footer-text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: .5em;
    font-weight: 300;
}

.footer-text a {
    color: white;
}