body {
    margin: 0 !important;
    padding: 0 !important;
}

html {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-color: #092b47;
    height: 30em;
}

.banner-image {
    height: 30em;
    width: 30em;
    margin: 0 auto;
    display: block;
}

.profile {
    position: absolute;
    top: 22.5em;
    width: 100%;
    margin: 0 auto;
}

.profile ul {
    padding: 0;
    width: 100%;
    list-style: none;
}

.profile ul li {
    text-align: center;
    width: 100%;
    margin: 2em 0;
}

.profile ul li a {
    color: #092b47;
    text-decoration: none;
    font-size: xx-large;
}

.profile ul li a:hover {
    border-top: .5em solid #092b47;
    border-bottom: .5em solid #092b47;
}

.profile .profile-image {
    width: 15em;
    height: 15em;
    max-width: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile .profile-text {
    text-align: center;
}

.profile .profile-links {
    margin: 0 auto;
}

.footer {
    background-color: #092b47;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
}

.footer-text {
    height: 100%;
    width: 100%;
    display: block;
}